:root {
  --background-color: #e7f0f2;
  --primary-color: #0a92a6;
  --secondary-color: #158186;
  --accent-color: #1acdbf;
  --text-color: #2a3440;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  /* color: var(--text-color); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: larger;
  color: var(--primary-color);
}

h1 {
  font-family: 'Amatic SC';
    font-size: 3rem;
    color: var(--primary-color); /* Customize as needed */
    margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.content {
  max-width: 90%;   /*set for small screen*/
}
