/*home page css*/
/*hero section*/
.hero {
    position: relative;
    text-align: center;
}

#hero-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    filter: brightness(100%);
    border-radius: 10px;
    border: 3px solid black;  
}

.hero-content {
    position: absolute;
    /* text-align: justify; */
    top: 30%;
    left: 10%;
    transform: translate(-5%, -50%);
    color: deep teal;
}

.hero, #purpose p {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

#welcome {
    font-size: clamp(2rem, 5vw, 3rem); /* Dynamically scale based on viewport */
    margin: 40px 0; /* Smaller margin for mobile */
    text-align: center;
    font-family: "Amatic SC";
    font-weight: bold;

}